Goal of the Analysis The goal of this data analysis is to derive insights and build a predictive model using the King County House Sales dataset (kc_house_data.csv). This dataset contains information about house sales in King County, including various attributes of the houses.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Read CSV file into a DataFrame
df = pd.read_csv('kc_house_data.csv')

# DHead
print(df.head())

# Summary statistics of numerical columns
print(df.describe())

# Information about the dataset (columns, non-null counts, data types)
print(df.info())

           id        date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  10/13/2014  221900.0         3       1.00         1180
1  6414100192   12/9/2014  538000.0         3       2.25         2570
2  5631500400   2/25/2015  180000.0         2       1.00          770
3  2487200875   12/9/2014  604000.0         4       3.00         1960
4  1954400510   2/18/2015  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0         NaN   0.0  ...      7        1180            0.0
1      7242     2.0         0.0   0.0  ...      7        2170          400.0
2     10000     1.0         0.0   0.0  ...      6         770            0.0
3      5000     1.0         0.0   0.0  ...      7        1050          910.0
4      8080     1.0         0.0   0.0  ...      8        1680            0.0

  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0     1955           0.0    98178  47.5112 -122.257           1340        5650
1     1951        1991.0    98125  47.7210 -122.319           1690        7639
2     1933           NaN    98028  47.7379 -122.233           2720        8062
3     1965           0.0    98136  47.5208 -122.393           1360        5000
4     1987           0.0    98074  47.6168 -122.045           1800        7503

[5 rows x 21 columns]
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.159700e+04  2.159700e+04  21597.000000  21597.000000  21597.000000
mean   4.580474e+09  5.402966e+05      3.373200      2.115826   2080.321850
std    2.876736e+09  3.673681e+05      0.926299      0.768984    918.106125
min    1.000102e+06  7.800000e+04      1.000000      0.500000    370.000000
25%    2.123049e+09  3.220000e+05      3.000000      1.750000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.159700e+04  21597.000000  19221.000000  21534.000000  21597.000000
mean   1.509941e+04      1.494096      0.007596      0.233863      3.409825
std    4.141264e+04      0.539683      0.086825      0.765686      0.650546
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068500e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above      yr_built  yr_renovated       zipcode  \
count  21597.000000  21597.000000  21597.000000  17755.000000  21597.000000
mean       7.657915   1788.596842   1970.999676     83.636778  98077.951845
std        1.173200    827.759761     29.375234    399.946414     53.513072
min        3.000000    370.000000   1900.000000      0.000000  98001.000000
25%        7.000000   1190.000000   1951.000000      0.000000  98033.000000
50%        7.000000   1560.000000   1975.000000      0.000000  98065.000000
75%        8.000000   2210.000000   1997.000000      0.000000  98118.000000
max       13.000000   9410.000000   2015.000000   2015.000000  98199.000000

                lat          long  sqft_living15     sqft_lot15
count  21597.000000  21597.000000   21597.000000   21597.000000
mean      47.560093   -122.213982    1986.620318   12758.283512
std        0.138552      0.140724     685.230472   27274.441950
min       47.155900   -122.519000     399.000000     651.000000
25%       47.471100   -122.328000    1490.000000    5100.000000
50%       47.571800   -122.231000    1840.000000    7620.000000
75%       47.678000   -122.125000    2360.000000   10083.000000
max       47.777600   -121.315000    6210.000000  871200.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB
None

Data cleaning

In [3]:
#Shape of data
df.shape

(21597, 21)

In [4]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [5]:
#finding missing values
df.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [6]:
#%of missing values
df.isnull().sum()/df.shape[0]*100

id                0.000000
date              0.000000
price             0.000000
bedrooms          0.000000
bathrooms         0.000000
sqft_living       0.000000
sqft_lot          0.000000
floors            0.000000
waterfront       11.001528
view              0.291707
condition         0.000000
grade             0.000000
sqft_above        0.000000
sqft_basement     0.000000
yr_built          0.000000
yr_renovated     17.789508
zipcode           0.000000
lat               0.000000
long              0.000000
sqft_living15     0.000000
sqft_lot15        0.000000
dtype: float64

Finding the percentage of missing values allows us to identify the best way to treat the missing values.

In [7]:
#duplicates checking
df.duplicated().sum()

0

In [8]:
#garbage value
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

date
6/23/2014    142
6/25/2014    131
6/26/2014    131
7/8/2014     127
4/27/2015    126
            ...
11/2/2014      1
1/31/2015      1
5/24/2015      1
5/17/2014      1
7/27/2014      1
Name: count, Length: 372, dtype: int64
******************************
sqft_basement
0.0       12826
?           454
600.0       217
500.0       209
700.0       208
          ...
1920.0        1
3480.0        1
2730.0        1
2720.0        1
248.0         1
Name: count, Length: 304, dtype: int64
******************************

In [9]:
#Replace '?' with 0 in sqft_basement column
df['sqft_basement'].replace('?', 0, inplace=True)

# Convert sqft_basement column to numeric
df['sqft_basement'] = pd.to_numeric(df['sqft_basement'])

# Impute missing values with median. this is because the percentage of missing values is highly low.
median_sqft_basement = df['sqft_basement'].median()
df['sqft_basement'].replace('?', median_sqft_basement, inplace=True)
df['sqft_basement'] = pd.to_numeric(df['sqft_basement'])